db.sqlite3
/academiaapp/__pycache__/*

/apps/ficha/__pycache__/*
/apps/ficha/migrations/*

/apps/treino/__pycache__/*
/apps/treino/migrations/*

/apps/palimentar/__pycache__/*
/apps/palimentar/migrations/*

/apps/clients/__pycache__/*
/apps/clients/migrations/*

/apps/orders/__pycache__/*
/apps/orders/migrations/*

/apps/accounts/__pycache__/*
/apps/accounts/migrations/*

/apps/core/__pycache__/*
/apps/core/migrations/*

/apps/core/treino/__pycache__/*
/apps/core/treino/migrations/*

/apps/core/orders/__pycache__/*
/apps/core/orders/migrations/*

/apps/core/palimentar/migrations/*
/apps/core/palimentar/__pycache__/*

/apps/clients/__pycache__/*
/apps/clients/migrations/*

/apps/profissional/__pycache__/*
/apps/profissional/migrations/*

/apps/exercicio/__pycache__/*
/apps/exercicio/migrations/*

/apps/alimento/__pycache__/*
/apps/alimento/migrations/*

/apps/exercicio/__pycache__/*
/apps/exercicio/migrations/*

