db.sqlite3
/academiaapp/__pycache__/*
/apps/ficha/__pycache__/*
/apps/ficha/migrations/*
/apps/products/__pycache__/*
/apps/products/migrations/*
/apps/socialnetworks/__pycache__/*
/apps/socialnetworks/migrations/*
/apps/clients/__pycache__/*
/apps/clients/migrations/*
/apps/orders/__pycache__/*
/apps/orders/migrations/*

/apps/accounts/__pycache__/*
/apps/accounts/migrations/*
/apps/core/__pycache__/*
/apps/core/migrations/*
/apps/core/products/__pycache__/*
/apps/core/products/migrations/*
/apps/core/orders/__pycache__/*
/apps/core/orders/migrations/*
/apps/core/socialnetworks/migrations/*
/apps/core/socialnetworks/__pycache__/*
