{% extends 'base.html' %}

{% block title %}

    Lista de Ficha - {{ block.super }}

{% endblock title %}

{% block body %}

    <div class="container">
        <br />
        <h5><b>Lista de Ficha</b></h5>
        <div class="row">
            <div class ="col-md-12">
                <br />
                    <a href="{% url 'ficha:
                    ,add_ficha' %}">Cadastro de nova ficha</a>
                <br />
                <br />
                <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Descricao</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for ficha in ficha %}
                        <tr>
                            <th scope="row">{{ ficha.id }}</th>
                            <td>{{ ficha.name }}</td>
                            <td>{{ ficha.description }}</td>
                            <td>
                                <a href="{% url 'ficha:edit_ficha' ficha.id %}" class="btn btn-primary btn-sm">Editar</a>
                            </td>
                            <td>
                                <a href="{% url 'ficha:delete_ficha' ficha.id %}" class="btn btn-danger btn-sm ">Excluir</a>
                            </td>
                        </tr> 
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock body %}