{% extends 'base.html' %}

{% block title %}

    Lista de Profissional - {{ block.super }}

{% endblock title %}

{% block body %}

    <div class="container">
        <br />
        <h5><b>Lista dos Profissionais</b></h5>
        <div class="row">
            <div class ="col-md-12">
                <br />
                    <a href="{% url 'profissional:add_profissional' %}">Cadastro dos novos Profissionais</a>
                <br />
                <br />
                <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Sobrenome</th>
                    <th scope="col">Endereco</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Genero</th>
                    <th scope="col">Plano alimentar</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for profissional in profissional %}
                        <tr>
                            <th scope="row">{{ profissional.id }}</th>
                            <td>{{ profissional.first_name }}</td>
                            <td>{{ profissional.last_name }}</td>
                            <td>{{ profissional.address }}</td>
                            <td>{{ profissional.cell_phone }}</td>
                            <td>{{ profissional.email }}</td>
                            <td>{{ profissional.gender }}</td>
                            <td>
                                {% for profissional_palimentar in profissional_palimentar %}
                                    {% if profissional_palimentar.profissional_id == profissional.id %}
                                        <li>{{ profissional_palimentar.palimentar }}</li>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                <a href="{% url 'profissional:edit_profissional' profissional.id %}" class="btn btn-primary btn-sm">Editar</a>
                            </td>
                            <td>
                                <a href="{% url 'profissional:delete_profissional' profissional.id %}" class="btn btn-danger btn-sm ">Excluir</a>
                            </td>
                            <td>   
                                 <a href="{% url 'exercicio:add_exercicio' profissional.id %}" class="btn btn-danger btn-sm ">Pedir</a>
                            </td>
                        </tr> 
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock body %}