{% extends 'base.html' %}

{% block title %}

    Lista de Atividades fisicas - {{ block.super }}

{% endblock title %}

{% block body %}

    <div class="container">
        <br />
        <h5><b>Lista de Atividades fisicas</b></h5>
        <div class="row">
            <div class ="col-md-12">
                <br />
                    <a href="{% url 'afisica:add_afisica' %}">Cadastro de nova atividade fisica</a>
                <br />
                <br />
                <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Descricao</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for afisica in afisica %}
                        <tr>
                            <th scope="row">{{ afisica.id }}</th>
                            <td>{{ afisica.name }}</td>
                            <td>{{ afisica.description }}</td>
                            <td>
                                <a href="{% url 'afisica:edit_afisica' afisica.id %}" class="btn btn-primary btn-sm">Editar</a>
                            </td>
                            <td>
                                <a href="{% url 'afisica:delete_afisica' afisica.id %}" class="btn btn-danger btn-sm ">Excluir</a>
                            </td>
                        </tr> 
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock body %}
